<p>Hi,</p>
<p>Our team replied to your feedback on TechFlash:</p>
<p style="white-space: pre-wrap;"><%= @message.content %></p>
<p>You can reply by submitting additional feedback from the app or contact us at admin@techflash.app.</p>
<p>Thanks,<br>TechFlash</p>
